             <div class="main-content">
    <div class="container-fluid">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Velocidad promedio (Km/Hr)</h4>
                      <p class="card-category">Estadísticas de los ultimos recorridos</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> Ahora
                      </div>
                  </div>
              </div>
          <div class="card card-chart">
                  <div class="card-header card-header-warning">
                      <div class="ct-chart" id="tiempoChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Tiempo en la bici(horas)
                      </h4>
                      <p class="card-category">Estadísticas de los ultimos recorridos</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> Ahora
                      </div>
                  </div>
              </div>
          <div class="card card-chart">
                  <div class="card-header card-header-danger">
                      <div class="ct-chart" id="distanceChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Distancia recorrida (km)</h4>
                      <p class="card-category">Estadísticas de los ultimos recorridos</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> Ahora
                      </div>
                  </div>
              </div>
   </div>
              </div>
